<div class="">
    <div class="breadcrumb">
        <h1>Users List</h1>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input id="keyword" placeholder="Search Users" [formControl]="searchControl" class="form-control form-control-rounded" type="text">
            </div>
        </div>
        <div class="col-md-12">
            <div class="card o-hidden">
                <div *ngIf="loading" class="d-flex justify-content-center align-items-center" style="height: 50vh;">
                    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
                        <span class="spinner-glow spinner-glow-primary mr-5" style="font-size: 3rem;"></span>
                    </div>
                </div>
                <div *ngIf="!loading">
                <ngx-datatable
                        style="height: calc(100vh - 270px); box-shadow: none"
                        class="material fullscreen"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="0"
                        [rowHeight]="90"
                        [scrollbarV]="true"
                        [scrollbarH]="true"
                        [rows]="users | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }">
                    <ngx-datatable-column name="email" [width]="250" [maxWidth]="300">
                        <ng-template ngx-datatable-header-template>
                            Email
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="roles" [width]="300">
                        <ng-template ngx-datatable-header-template>
                            Roles
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <div class="role-tags">
                                 <span *ngFor="let role of row.roles" class="role-tag">
                                     {{ role }}
                                 </span>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="profile.name">
                        <ng-template ngx-datatable-header-template>
                            Name
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ row.profile?.name||"N/A" }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="profile.lastname">
                        <ng-template ngx-datatable-header-template>
                            Last Name
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ row.profile?.lastname||"N/A" }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="profile.birthDate" prop="birthDate">
                        <ng-template ngx-datatable-header-template>
                            Birth Date
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ (row.profile?.birthDate | date:'mediumDate') ||  "N/A" }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="profile.title" prop="title" >
                        <ng-template ngx-datatable-header-template>
                            Title
                        </ng-template>
                        <ng-template ngx-datatable-cell-template  let-row="row">
                            {{ row.profile?.title||"N/A" }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="profile.gender" prop="gender" >
                        <ng-template ngx-datatable-header-template>
                            Gender
                        </ng-template>
                        <ng-template ngx-datatable-cell-template  let-row="row">
                            {{ row.profile?.gender||"N/A" }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="profile.country" prop="country" >
                        <ng-template ngx-datatable-header-template>
                            Country
                        </ng-template>
                        <ng-template ngx-datatable-cell-template  let-row="row">
                            {{ row.profile?.country||"N/A" }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="security.enabled" prop="title">
                        <ng-template ngx-datatable-header-template>
                            Enabled
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <btn-loading [btnClass]="row.security?.enabled ? 'btn-success btn-rounded' : 'btn-danger btn-rounded'" (click)="toggleEnabled(row)" [loading]="loading">
                                {{ row.security?.enabled ? 'Enabled' : 'Disabled' }}
                            </btn-loading>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="security.ban" prop="title">
                        <ng-template ngx-datatable-header-template>
                            Ban
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <btn-loading [btnClass]="row.security?.ban ? 'btn-danger btn-rounded' : 'btn-success btn-rounded'" (click)="toggleBan(row)" [loading]="loading">
                                {{ row.security?.ban ? 'Banned' : 'Unbanned' }}
                            </btn-loading>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="change role" prop="title">
                        <ng-template ngx-datatable-header-template>
                            Add/Remove role
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <form (ngSubmit)="changeUserRole(row)">
                                <div class="form-group">
                                    <select [(ngModel)]="selectedRole" class="form-control" name="role">
                                        <option *ngFor="let role of availableRoles" [value]="role">{{ role }}</option>
                                    </select>
                                </div>
                                <button class="btn btn-primary" type="submit"><i class="fas fa-user-edit mr-2"></i>Add/Remove Role</button>
                            </form>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
                </div>
                <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>